body {
  margin: 0;
  background-image: url("static.jpg");
  background-size: cover;
  background-attachment: fixed;
  height:100%;
  width:100%;
}

h1{
  text-align: center;
  margin-top: 18%;
  color: white;
  font-family: Silkscreen;
  font-size: 110px;
  font-weight: bolder;
  -webkit-text-stroke: 2px black;
}

h2{
  font-family: Silkscreen;
  text-align: center;
  font-size: 55px;
  -webkit-text-stroke: 2px black;
}

